* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #213e4f;
  font-weight: 500;
}

body {
  background-color: #107abb;
}

/* .header {
  text-align: center;
  color: #ffffff;
  margin-top: 50px;
} */

#tasks {
  display: flex;
  margin-top: 1%;
  justify-content: center;
}

.column-name {
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 10px;
}

.column {
  width: 250px;
  padding: 15px;
  border: 1px solid darkgray;
  border-radius: 5px;
  background-color: #dee2e5;
}

.column:nth-child(n+1) {
  margin-left: 10px;
}

.item-task {
  border: 1px solid gray;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  padding-right: 30px;
  margin-bottom: 15px;
  cursor: grabbing;
  position: relative;
  background-color: #ffffff;
}

.item-task:hover > .delete-task {
  display: block;
}

.item-task:last-child {
  margin-bottom: 0;
}

.delete-task {
  width: 25px;
  height: 25px;
  top: 5px;
  right: 5px;
  position: absolute;
  text-align: center;
  cursor: pointer;
  background-image: url('../img/delete.png');
  content: '\E951';
  background-position: center;
}

.delete-task:hover {
  background-image: url('../img/delete-hover.png');
}

.column-tasks {
  min-height: 15px;
}

.dragged {
  position: absolute;
  z-index: 999;
  pointer-events: none;
  background-color: #ffffff;
  cursor: grabbing;
}

#text-task {
  width: 100%;
  border: 1px solid darkblue;
  margin-bottom: 5px;
  padding: 10px;
}

.add-task, .input-task {
  margin-top: 10px;
  padding: 5px 0;
}

.add-task:hover {
  color: green;
}

.add-task-hidden:hover {
  color: green;
}

.add-task-hidden {
  cursor: pointer;
}

.cancel-task-hidden {
  float: right;
  cursor: pointer;
}

.cancel-task-hidden:hover {
  color: gray;
}

.button {
  cursor: grabbing;
}

.hidden {
  display: none;
}